@import "tailwindcss";

:root {
	--col-background: hsla(0, 0%, 100%, 1);
	--col-foreground: hsla(0, 0%, 96%, 1);
	--col-primary: hsla(0, 0%, 15%, 1);
	--col-secondary: hsla(0, 0%, 15%, 0.37);
	--col-body: hsla(221, 13%, 46%, 1);
	--col-alt: hsla(15, 95%, 68%, 1);
	--col-alt-alpha: hsla(15, 100%, 96%, 1);
	--col-alt-purple: hsla(324, 100%, 78%, 1);
	--col-alt-green: hsla(104, 39%, 59%, 1);
	--col-alt-cyan: hsla(166, 83%, 40%, 1);
	--col-alt-cyan-alpha: hsla(162, 100%, 92%, 1);
	--col-alt-cyan-beta: hsla(173, 48%, 83%, 1);
}

body {
	background: var(--col-background);
	color: var(--col-primary);
	font-family: var(--font-pri), Arial, Helvetica, sans-serif;
}

@theme inline {
	--color-background: var(--col-background);
	--color-foreground: var(--col-foreground);
	--color-primary: var(--col-primary);
	--color-secondary: var(--col-secondary);
	--color-body: var(--col-body);
	--color-alt: var(--col-alt);
	--color-alt-alpha: var(--col-alt-alpha);
	--color-alt-purple: var(--col-alt-purple);
	--color-alt-green: var(--col-alt-green);
	--color-alt-cyan: var(--col-alt-cyan);
	--color-alt-cyan-alpha: var(--col-alt-cyan-alpha);
	--color-alt-cyan-beta: var(--col-alt-cyan-beta);

	--font-sans: var(--font-pri);
	--font-serif: var(--font-sec);
}

.no-scroll {
	scrollbar-width: none;
}

@utility hfade {
	cursor: pointer;
	transition: opacity 0.3s ease;
	@apply hover:opacity-80;
}

@utility def-pdg {
	@apply px-5
	md:px-8
	lg:px-16
	xl:px-24;
}

/* flexbox */
@utility fl-tl {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

@utility fl-tc {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

@utility fl-tr {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

@utility fl-cl {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

@utility fl-cc {
	display: flex;
	align-items: center;
	justify-content: center;
}

@utility fl-cr {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@utility fl-bl {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

@utility fl-bc {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

@utility fl-br {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

@utility fl-sb {
	justify-content: space-between;
}

@utility fl-sa {
	justify-content: space-around;
}

@utility fl-r {
	flex-direction: row;
}

@utility fl-c {
	flex-direction: column;
}
